@font-face {
  font-family: fuenteTitulo;
  src: url(../fonts/Press_Start_2P/PressStart2P-Regular.ttf);
}
@font-face {
  font-family: fuenteTexto;
  src: url(../fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
}
.flexBasico, .valores, .vision, .deposito, .historiaGBA__intro, .historiaGBA, .catalogo__juegos, .curiosidades__datos, .info, .cardBasica, .cardProducto, .catalogo, .curiosidades__datos article {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardBasica, .cardProducto, .catalogo, .curiosidades__datos article {
  justify-content: space-between;
  flex-direction: column;
  border: 2px solid #6c5ce7;
  box-sizing: border-box;
}

body {
  font-family: fuenteTexto;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: fuenteTitulo;
  color: #6c5ce7;
  text-align: center;
  font-size: 2rem;
  margin: 20px;
}

main {
  flex-grow: 1;
  background-image: url(../img/assets/background.webp);
  background-size: cover;
}

.bienvenida {
  color: white;
  margin: 15px 5px;
  line-height: 8px;
  text-align: center;
}

.bienvenida p {
  font-size: 1.4rem;
}

.bienvenida h1 {
  font-size: 2.5rem;
  margin: 0;
}

.bienvenida h1 span {
  color: #00cec9;
}

.bienvenida .eslogan {
  font-size: 1.4rem;
}

.info {
  align-items: baseline;
  flex-wrap: wrap;
  margin: auto;
  color: #fff;
}

.info article {
  width: 320px;
}

.info h3 {
  color: #00cec9;
  font-size: 1.3rem;
  text-align: center;
  margin-top: 5px;
}

.info p {
  margin: auto 5px;
}

.info ul, .info li {
  list-style-type: none;
}

.info ul {
  margin-bottom: 0;
}

.info a {
  text-decoration: none;
  color: #00cec9;
}

.curiosidades {
  color: #fff;
  margin: 15px auto;
  text-align: center;
}

.curiosidades h3 {
  color: #00cec9;
  font-family: fuenteTitulo;
}

.curiosidades__datos {
  align-items: baseline;
  flex-wrap: wrap;
  align-items: stretch;
}

.curiosidades__datos article {
  width: 310px;
  margin: 5px;
  height: 120px;
  border-radius: 5%;
  background-color: rgba(0, 206, 203, 0.0470588235);
}

.curiosidades__datos__titulo {
  color: #6c5ce7;
  font-weight: bold;
}

.catalogo {
  background-color: rgba(0, 206, 203, 0.0470588235);
}

.catalogo h2 {
  color: #00cec9;
  font-family: fuenteTitulo;
}

.catalogo__consolas {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.catalogo__juegos {
  flex-wrap: wrap;
}

.cardProducto {
  height: 380px;
  width: 280px;
  background-color: rgba(0, 206, 203, 0.0470588235);
  margin: 10px;
}

.cardProducto img {
  width: 180px;
  height: 200px;
  margin-top: 10px;
}

.cardProducto h3 {
  color: #fff;
  text-align: center;
  font-size: 1.5rem;
}

.cardProducto__precio {
  color: #27ae60;
  font-size: 1.4rem;
  font-weight: bold;
  margin: 5px auto;
  background-color: rgba(39, 174, 95, 0.2588235294);
  border-radius: 10%;
}

.cardProducto button {
  background-color: rgba(108, 92, 231, 0.5019607843);
  color: #fff;
  font-weight: bold;
  margin-bottom: 10px;
}

.cardProducto button:hover {
  background-color: #6c5ce7;
}

.historiaGBA {
  flex-direction: column;
}

.historiaGBA h2 {
  color: #00cec9;
  text-align: center;
  margin-bottom: 20px;
}

.historiaGBA p {
  color: #fff;
}

.historiaGBA__intro {
  flex-wrap: wrap;
  margin: 30px;
}

.historiaGBA__intro__imagen {
  width: 300px;
  box-sizing: border-box;
  margin: 5px;
}

.historiaGBA__intro__imagen img {
  width: 300px;
  margin: auto 0;
}

.historiaGBA__intro__texto {
  width: 300px;
}

.lineaDeTiempo {
  color: #fff;
}

.lineaDeTiempo__suceso {
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  align-items: baseline;
  justify-content: space-between;
  text-align: left;
}

.lineaDeTiempo__suceso__fecha {
  font-weight: bold;
  width: 12.5%;
  margin: 3px;
}

.lineaDeTiempo__suceso__titulo {
  margin: 2px;
  width: 43.75%;
}

.lineaDeTiempo__suceso p {
  margin: 3px;
  width: 43.75%;
}

.subtitulo {
  color: #00cec9;
  text-align: center;
  width: 100%;
}

.quienesSomos {
  color: #fff;
}

.quienesSomos p {
  color: #fff;
  text-align: center;
}

.deposito {
  flex-wrap: wrap;
}

.deposito img {
  width: 320px;
  box-sizing: border-box;
  border: 2px solid #6c5ce7;
}

.deposito p {
  width: 320px;
  margin: 10px;
  box-sizing: border-box;
  color: #fff;
}

.vision {
  align-items: baseline;
  flex-wrap: wrap;
}

.vision__imagen {
  width: 320px;
  margin: 0;
}

.vision__imagen img {
  width: 320px;
}

.vision__imagen h2 {
  color: #6c5ce7;
  font-size: 2.5rem;
}

.vision p {
  color: #fff;
  font-size: 1.5rem;
  width: 320px;
  text-align: center;
}

.valores {
  align-items: baseline;
  flex-wrap: wrap;
}

.valores__imagen {
  width: 320px;
  margin: 0;
}

.valores__imagen img {
  width: 320px;
}

.valores__imagen h2 {
  color: #6c5ce7;
  font-size: 2.5rem;
}

.valores p {
  color: #fff;
  font-size: 1.5rem;
  width: 320px;
  text-align: center;
}

footer {
  height: 50px;
  color: #fff;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
