@import "./utilities/fonts";
@import "./utilities/variables";
@import "./utilities/extends";

body{
    font-family: fuenteTexto;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
h1{
    font-family: fuenteTitulo;
    color: $colorPrimario;
    text-align: center;
    font-size: 2rem;
    margin: 20px;
}

@import "./layout/header";
@import "./layout/main";
@import "./layout/footer";

@import "./mq/mq";

