main{
    flex-grow: 1;
    background-image: url(../img/assets/background.webp);
    background-size: cover;
}

// Index
.bienvenida{
    color: white;
    margin: 15px 5px;
    line-height: 8px;
    text-align: center;
}
.bienvenida p{
    font-size: 1.4rem;
}
.bienvenida h1{
    font-size: 2.5rem;
    margin: 0;
}
.bienvenida h1 span{
    color: $colorSecundario;
}
.bienvenida .eslogan{
    font-size: 1.4rem;
}
.info{
    @extend .flexBasico;
    align-items: baseline;
    flex-wrap: wrap;
    margin: auto;
    color: $colorTexto;
}
.info article{
    width: 320px;
}
.info h3{
    color: $colorSecundario;
    font-size: 1.3rem;
    text-align: center;
    margin-top: 5px;
}
.info p{
    margin: auto 5px;
}
.info ul, .info li{
    list-style-type: none;

}
.info ul{
    margin-bottom: 0;
}
.info a{
    text-decoration: none;
    color: $colorSecundario;
}
.curiosidades{
    color: $colorTexto;
    margin: 15px auto;
    text-align: center;
    
}
.curiosidades h3{
    color: $colorSecundario;
    font-family: fuenteTitulo;
}
.curiosidades__datos{
    @extend .flexBasico;
    align-items: baseline;
    flex-wrap: wrap;
    align-items: stretch
}
.curiosidades__datos article{
    @extend .cardBasica;
    width: 310px;
    margin: 5px;
    height:120px;
    border-radius: 5%;
    background-color: $colorBgSecundario;
}
.curiosidades__datos__titulo{
    color: $colorPrimario;
    font-weight: bold;
}

// Productos
.catalogo{
    @extend .cardBasica;
    background-color: $colorBgSecundario;
}
.catalogo h2{
    color: $colorSecundario;
    font-family: fuenteTitulo;
}
.catalogo__consolas{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}
.catalogo__juegos{
    @extend .flexBasico;
    flex-wrap: wrap;
}
.cardProducto{
    @extend .cardBasica;
    height: 380px;
    width: 280px;
    background-color: $colorBgSecundario;
    margin: 10px;
}
.cardProducto img{
    width: 180px;
    height: 200px;
    margin-top: 10px;
}
.cardProducto h3{
    color: $colorTexto;
    text-align: center;
    font-size: 1.5rem;
}
.cardProducto__precio{
    color: $colorDinero;
    font-size: 1.4rem;
    font-weight: bold;
    margin: 5px auto;
    background-color: #27ae5f42;
    border-radius: 10%;
}
.cardProducto button{
    background-color: $colorBgPrimario;
    color: $colorTexto;
    font-weight: bold;
    margin-bottom: 10px;
}
.cardProducto button:hover{
    background-color: $colorPrimario;
}

// Historia GBA
.historiaGBA{
    @extend .flexBasico;
    flex-direction: column;
}
.historiaGBA h2{
    color: $colorSecundario;
    text-align: center;
    margin-bottom: 20px;
}
.historiaGBA p{
    color: $colorTexto;
}
.historiaGBA__intro{
    @extend .flexBasico;
    flex-wrap: wrap;
    margin: 30px;
}
.historiaGBA__intro__imagen{
    width: 300px;
    box-sizing: border-box;
    margin: 5px;
}
.historiaGBA__intro__imagen img{
    width: 300px;
    margin: auto 0;
}
.historiaGBA__intro__texto{
    width: 300px;
}
.lineaDeTiempo{
    color: $colorTexto;
}
.lineaDeTiempo__suceso{
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
    justify-content: space-between;
    text-align: left;
}
.lineaDeTiempo__suceso__fecha{
    font-weight: bold;
    width: 12.5%;
    margin: 3px;
}
.lineaDeTiempo__suceso__titulo{
    margin: 2px;
    width: 43.75%;

}
.lineaDeTiempo__suceso p{
    margin: 3px;
    width: 43.75%;
}
// Sobre nosotros
.subtitulo{
    color: $colorSecundario;
    text-align: center;
    width: 100%;
}
.quienesSomos{
    color: $colorTexto;
}
.quienesSomos p{
    color: $colorTexto;
    text-align: center;
}
.deposito{
    @extend .flexBasico;
    flex-wrap: wrap;
}
.deposito img{
    width: 320px;
    box-sizing: border-box;
    border: 2px solid $colorPrimario;
}
.deposito p{
    width: 320px;
    margin: 10px;
    box-sizing: border-box;
    color: $colorTexto;
}
.vision{
    @extend .flexBasico;
    align-items: baseline;
    flex-wrap: wrap;
}
.vision__imagen{
    width: 320px;
    margin: 0;
}
.vision__imagen img{
    width: 320px;
}
.vision__imagen h2{
    color: $colorPrimario;
    font-size: 2.5rem;
}
.vision p{
    color: $colorTexto;
    font-size: 1.5rem;
    width: 320px;
    text-align: center;
}
.valores{
    @extend .flexBasico;
    align-items: baseline;
    flex-wrap: wrap;
}
.valores__imagen{
    width: 320px;
    margin: 0;
}
.valores__imagen img{
    width: 320px;
}
.valores__imagen h2{
    color: $colorPrimario;
    font-size: 2.5rem;
}
.valores p{
    color: $colorTexto;
    font-size: 1.5rem;
    width: 320px;
    text-align: center;
}
