.flexBasico{
    display: flex;
    align-items: center;
    justify-content: center;
}
.cardBasica{
    @extend .flexBasico;
    justify-content: space-between;
    flex-direction: column;
    border: 2px solid $colorPrimario;
    box-sizing: border-box;
}